body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    text-align: center;
}

input, button, select, #tipoCambioTexto, #monedaTexto, #cantidadBonos {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: darkcyan;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

th {
    background-color: darkcyan;
    color: white;
}

tfoot {
    font-weight: bold;
}

#tir, #retornoDirecto {
    margin-top: 10px;
}