body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block; /* Asegura que la etiqueta ocupe su propia línea */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
    margin-left: 5px;
    color: #333; /* Color oscuro para mejor lectura */
    text-align: left;
}


input, button, select, #tipoCambioTexto, #monedaTexto, #cantidadBonos {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: darkcyan;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

th {
    background-color: darkcyan;
    color: white;
}

tfoot {
    font-weight: bold;
}

#tir, #retornoDirecto {
    margin-top: 10px;
}

input, button, select {
    transition: box-shadow 0.3s ease-in-out;
}

input:focus, button:focus, select:focus {
    box-shadow: 0 0 5px rgba(0, 139, 139, 0.5); /* Añade un glow cuando se enfoca */
}

form{
    width: 400px;
}

.hidden {
    display: none;
}


@media (max-width: 600px) {
    .calculator {
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    }

    input, select, button {
        padding: 8px; /* Menos padding para pantallas pequeñas */
    }
}
